<section class="section-body">
<h1 id="title" class="title">{{translator("forgot_password_title")}}</h1>
<p class="sub-title">{{translator('forgot_password_subtitle')}}</p>
<div [formGroup]="requestPasswordForm" aria-labelledby="title" >

    <div class="form-control-group">
        <label for="input-email">{{translator('email_address')}}</label>
        <input  nbInput
                autofocus
                fullWidth
                fieldSize="large"
                id="input-email"
                formControlName="email"
                [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                placeholder="{{translator('email_address')}}">
        <ngx-validation-message label="{{translator('email_address')}}" [showPattern]="email?.hasError('pattern') && email.touched"
          [showRequired]="email?.errors?.required && email.touched"></ngx-validation-message>
      </div>

  <ngx-response-message  [submitted]="submitted"></ngx-response-message>
  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !requestPasswordForm.valid"
          [class.btn-pulse]="submitted"
          (click) = "requestPass()">
    {{translator('forgot_password_btn')}}
  </button>
</div>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p>{{translator('go_back') }} <a class="text-link" routerLink="../login">{{translator('login_page')}}</a></p>
  <p><a routerLink="../register" class="text-link">{{translator('register')}}</a></p>
</section>
</section>
<section class="spinner-container" *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="primary">
</section>
